section {
    padding-top: 60px;
    display: flex;
    height: fit-content;
    justify-content: space-between;

    border-top: solid #97979794 1px;
}

h1 {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;

    color: #33323D;
}

article {
    width: 50%;
}

p {
    padding: 0 100px 50px 0;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */


    color: #33323D;

    mix-blend-mode: normal;
    opacity: 0.8;

}

.form-section {
    margin-bottom: 50px;
}

.form-div form {
    display: flex;
    flex-direction: column;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;

    color: #33323D;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.form-label {
    margin-bottom: 5px;
}

.form-field {
    margin-bottom: 20px;

    height: 50px;
    background-color: #33323d36;
    border: none;

    font-size: 30px;
}

.name-field {
    text-transform: capitalize;
}

.message-field {
    height: 100px
}

.form-button {
    width: fit-content;
    padding: 15px 60px;
    border: none;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
    background-color: #153852;
}

.form-button:hover {
    text-decoration: underline;
    cursor: pointer;
}